body.light-theme {
  background-color: #f2f2f2;
  color: #222;
}

body.light-theme #sidebar {
  background: #e0e0e0;
}

body.light-theme #editor {
  background: #ffffff;
  color: #000000;
}

body.light-theme #console {
  background: #eeeeee;
  color: #333333;
}
